body{
  width: 100%;
  font-family: Arial;
}
h1{
  font-size: 60px;
  color: orange; 
}
img{
  width: 50%;
}
.center{
 text-align: center;
}
li{
  list-style: none;
  margin-top: 5px;
}
li a{
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  border-bottom: dotted 1px orange;
}
label{
  color: #2B2C25;
}
.submit{
  margin-top: 20px;
  border: none;
  padding: 10px;
  background-color: rgba(255,127,0,0.8);
  cursor:pointer;
}
.submit:hover{
  background-color: rgba(255,127,0,1);
}
.full_list:first-child,.items:first-child
{
  display: none;
}
.full_list
{
  width: 31%;
  display: inline-block;
  margin-bottom: 50px;
}
.full_list img
{
  margin-top: 15px;
  display: block;
}
.list form
{
  display: inline-block;
  margin-left: 20px;
}
.list form .submit
{
  padding: 3px;
  background-color: rgba(200,70,0,0.8);
}
.list form .submit:hover
{
  background-color: rgba(200,70,0,1);
}

